#Layer1 {

	position:absolute;
	left:346px;
	top:45px;
	width:194px;
	height:159px;
	z-index:1;
}

#Layer2 {
	position:absolute;
	left:742px;
	top:33px;
	width:158px;
	height:16px;
	z-index:1;

}



a:link {
	color: #FF9900;

}



a:visited {
	color: #FF9900;


}



a:hover {
	color: #FFCC00;


}
#suf{
	color: white;
}
#suf:hover{
	color: #000;
}

	



a:active {
	color: #FFCC00;


}



body,td,th {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 12px;



	color: #333333;



}



#Layer3 {



	position:absolute;



	left:275px;



	top:207px;



	width:200px;



	height:200px;



	z-index:1;



}



#Layer4 {



	position:absolute;



	width:200px;



	height:115px;



	z-index:1;



	left: 251px;



	top: 212px;



}



#Layer5 {



	position:absolute;



	left:34px;



	top:51px;



	width:0px;



	height:11px;



	z-index:2;



}



#Layer6 {



	position:absolute;



	left:26px;



	top:149px;



	width:90px;



	height:139px;



	z-index:0;



}



.style46 {color: #FF9900}



.style54 {color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }



.style82 {color: #666666}



.style89 {font-size: 10px}



.style124 {font-size: 10px; font-weight: bold; }



body {
	background-color: #FFFFFF;
	background-image: url();
	background-repeat: no-repeat;
}



.style131 {



	color: #FF9900;



	font-style: italic;



	font-size: 16px;



	font-weight: bold;



}



.style139 {font-size: 24px}
.style140 {font-size: 20px; color: #666666; }
.style147 {font-size: 20px; color: #FF9900; }
.style149 {font-size: 18px; font-weight: bold; }
.style151 {color: #339900}
.style153 {font-size: 12px}

